<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ZainKuwaitEntities" connectionString="metadata=res://*/Core.KuwaitZainSS.csdl|res://*/Core.KuwaitZainSS.ssdl|res://*/Core.KuwaitZainSS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.104;initial catalog=ZainKuwait;user id=sa;password=sql@dm!n4I$ys2k15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OoredooKWTEntities" connectionString="metadata=res://*/Core.KuwaitOoredooSS.csdl|res://*/Core.KuwaitOoredooSS.ssdl|res://*/Core.KuwaitOoredooSS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.104;initial catalog=OoredooKWT;user id=sa;password=sql@dm!n4I$ys2k15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IrawZainEntities" connectionString="metadata=res://*/Core.IraqZainSS.csdl|res://*/Core.IraqZainSS.ssdl|res://*/Core.IraqZainSS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.72;initial catalog=Zain-Iraq;user id=sa;password=shareef;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>